<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.samples.persistence.mybaties.mappers.CategoryMapper">

	<select parameterType="map" id="searchCategories" resultMap="CategoryResult">
	    select
	    c.id as c_id,
	    c.name as c_name,
	    c.description as c_description,
	    c.creation_date as c_creation_date,
	    c.state as c_state,
	    c.modify_date as c_modify_date
	    from categories c
  	</select>
  	
  	<select parameterType="map" id="searchActiveCategories" resultMap="CategoryResult">
	    select
	    c.id as c_id,
	    c.name as c_name,
	    c.description as c_description,
	    c.creation_date as c_creation_date,
	    c.state as c_state,
	    c.modify_date as c_modify_date
	    from categories c where c.state = 'Activo'
  	</select>
  	
  	<select parameterType="map" id="searchActiveCategoryNames" resultMap="CategoryResult">
	    select c.name as c_name from categories c where c.state = 'Activo'
  	</select>

	<select parameterType="map" id="searchCategoriesByName" resultMap="CategoryResult">
	    select
	    c.id as c_id,
	    c.name as c_name,
	    c.description as c_description,
	    c.creation_date as c_creation_date,
	    c.state as c_state,
	    c.modify_date as c_modify_date
	    from categories c where c.name = #{Name}
  	</select>
  	
  	<insert parameterType="map" id="newCategory">
	   	insert into categories(id, name, description, creation_date, state, modify_date) values (nextval('id_Categories'), #{Name}, #{desc}, current_date, #{State}, current_date)
	</insert>
  
	 <update parameterType="map" id="updateCategoryDescription">
	 	update categories set description = #{nDesc}, modify_date = current_date where name = #{Oname}
	 </update>
	 
	 <update parameterType="map" id="updateCategoryState">
	 	update categories set state = #{nState}, modify_date = current_date where name = #{Oname}
	 </update>
	 
	 <update parameterType="map" id="updateCategoryName">
	 	update categories set name = #{Nnom}, modify_date = current_date where name = #{Oname}
	 </update>
	 
	 <delete id="deleteAllCategories">
	 	delete from categories;
	 </delete>
	 
	 <delete id="deleteCategoryByName">
	 	delete from categories where name = #{Name};
	 </delete>
	 
	 <delete id="deleteCategoryById">
	 	delete from categories where id = #{idCat};
	 </delete>
	 
	 <update id="restartSequence">
	 	alter sequence id_Categories restart with 1;
	 </update>

	<resultMap type='Category' id='CategoryResult'>
		 <id property='id' column='c_id'/>
		 <result property='name' column='c_name'/>
		 <result property='description' column='c_description'/>
		 <result property='creationDate' column='c_creation_date'/>
		 <result property='state' column='c_state'/>
		 <result property='modifyDate' column='c_modify_date'/>
	</resultMap>
  
</mapper>  