<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.samples.persistence.mybaties.mappers.CategoryMapper">

	<select parameterType="map" id="searchCategories" resultMap="CategoryResult">
	    select * from categories
  	</select>

	<insert parameterType="map" id="newCategory">
	   	insert into categories(id, name, description, creation_date, state, modify_date) values (nextval('id'), #{Name}, #{desc}, current_date, #{State}, current_date)
	</insert>
  
	 <update parameterType="map" id="updateCategoryDescription">
	 	update categories set description = #{nDesc}, modify_date = current_date where name = #{Oname}
	 </update>
	 
	 <update parameterType="map" id="updateCategoryState">
	 	update categories set state = #{nState}, modify_date = current_date where name = #{Oname}
	 </update>
	 
	 <update parameterType="map" id="updateCategoryName">
	 	update categories set name = #{Nnom}, modify_date = current_date where name = #{Oname}
	 </update>

	<resultMap type='Category' id='CategoryResult'>
		 <id property='id' column='id'/>
		 <result property='name' column='name'/>
		 <result property='description' column='description'/>
		 <result property='creationDate' column='creation_date'/>
		 <result property='state' column='state'/>
		 <result property='modifyDate' column='modify_date'/>
	</resultMap>
  
</mapper>  