<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.samples.persistence.mybaties.mappers.NeedMapper">

	<select parameterType="map" id="searchNeeds" resultMap="NeedResult">
	    select * from users
  	</select>
	
	<insert parameterType="map" id="registerNeed">
	   	insert into needs(id, category, name, description, urgency, creation_date, state, modify_date) values (nextval('id_Needs'), #{Cat}, #{Name}, #{Desc}, #{Urg}, current_date, #{State}, current_date)
	</insert>
	
	<update parameterType="map" id="updateStateNeed">
	 	update needs set state = #{State}, modify_date = current_date where id = #{Id}
	 </update>
	 
	 <delete id="deleteNeedById">
	 	delete from needs where id = #{Id};
	 </delete>
	 
	 <delete id="deleteNeeds">
	 	delete from needs;
	 </delete>
	
	<resultMap type='Need' id='NeedResult'>
		 <id property='id' column='id'/>
		 <result property='description' column='description'/>
		 <result property='creationDate' column='creation_date'/>
		 <result property='state' column='state'/>
		 <result property='modifyDate' column='modify_date'/>
		 <association property='category' javaType='Category' resultMap='edu.eci.cvds.samples.persistence.mybaties.mappers.CategoryMapper.CategoryResult'></association>
		 <association property='name' javaType='User' resultMap='edu.eci.cvds.samples.persistence.mybaties.mappers.UserMapper.UserResult'></association>
	</resultMap>
  
</mapper>