<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="edu.eci.cvds.samples.persistence.mybaties.mappers.OfferMapper">
  
  	<select parameterType="map" id="searchOffers" resultMap="OfferResult">
	    select 
	    o.id, 
	    c.name as c_name, 
	    u.name as u_name, 
	    o.description, 
	    o.creation_date,
	    o.state, 
	    o.modify_date 
	    from offers as o
	    join categories as c on o.category = c.name 
	    join users as u on o.name = u.name 
	    order by o.modify_date desc
  	</select>
  	
  	<select parameterType="map" id="searchInProcessOffers" resultMap="OfferResult">
	    select 
	    o.id, 
	    c.name as c_name, 
	    u.name as u_name, 
	    o.description, 
	    o.creation_date,
	    o.state, 
	    o.modify_date 
	    from offers as o
	    join categories as c on o.category = c.name 
	    join users as u on o.name = u.name 
	    where o.state = 'Activo' or o.state = 'En proceso' 
	    order by o.modify_date desc
  	</select>
  	
  	<select parameterType="map" id="searchOffersByUser" resultMap="OfferResult">
	    select
	    o.id, 
	    c.name as c_name, 
	    u.name as u_name, 
	    o.description, 
	    o.creation_date,
	    o.state, 
	    o.modify_date
	    from offers as o
	    join categories as c on o.category = c.name 
	    join users as u on o.name = u.name 
	    where u.name = #{Name} 
	    order by modify_date desc
  	</select>
  
  	<insert parameterType="map" id="newOffer">
	   	insert into offers(id, category, name, description, creation_date, state, modify_date) values (nextval('id_Offers'), #{Cat}, #{Name}, #{Desc}, current_date, #{State}, current_date)
	</insert>
	
	<update parameterType="map" id="updateStateOffer">
	 	update offers set state = #{State}, modify_date = current_date where id = #{Id}
	 </update>
	 
	 <delete id="deleteOffers">
	 	delete from offers;
	 </delete>
	 
	 <delete id="deleteOfferById">
	 	delete from offers where id = #{Id};
	 </delete>
	 
	 <update id="restartSequenceOffers">
	 	alter sequence id_Offers restart with 1;
	 </update>
  
  	<resultMap type='Offer' id='OfferResult'>
		<id property='id' column='id'/>
		<result property='description' column='description'/>
		<result property='creationDate' column='creation_date'/>
		<result property='state' column='state'/>
		<result property='modifyDate' column='modify_date'/>
		<association property='category' javaType='Category' resultMap='edu.eci.cvds.samples.persistence.mybaties.mappers.CategoryMapper.CategoryResult' columnPrefix="c_"></association>
		<association property='name' javaType='User' resultMap='edu.eci.cvds.samples.persistence.mybaties.mappers.UserMapper.UserResult' columnPrefix="u_"></association>
	</resultMap>
  
  </mapper>  