<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.samples.persistence.mybaties.mappers.ReporteMapper">

  	<select parameterType="map" id="needsReportValuesForGraffic" resultMap="ReporteNeedResult">
	    select n.state as n_state, count(*) as cantidad, 0 as not_use, null as not_use2 from needs n group by state;
  	</select>
  	
  	<select parameterType="map" id="offersReportValuesForGraffic" resultMap="ReporteOfferResult">
	    select o.state as o_state, count(*) as cantidad, 0 as not_use, null as not_use2 from offers o group by state;
  	</select>
  	
  	<select parameterType="map" id="categoriesReport" resultMap="ReporteCategoriesResult">
	    select name as categorias, sum(nOfrecidas) as n_ofrecidas,sum(nNecesidades) as n_necesidades, null as not_use from (
		select c.name, count(*) as nOfrecidas, 0 as nNecesidades from categories c join offers o on c.name = o.category group by c.name 
		union 
		select c.name, 0 as nOfrecidas, count(*) as nNecesidades from categories c join needs n on c.name = n.category group by c.name) as x group by name;
  	</select>
  	
  	<select parameterType="map" id="answersReport" resultMap="ReporteAnswersResult">
	    select response, 0 as not_use, 0 as not_use2, response_n_o from (
		select an.response, n.description as response_n_o from answers_needs an join needs n on n.id = an.need 
		union
		select ao.response, o.description as response_n_o from answers_offers ao join offers o on o.id = ao.offer) as d;
  	</select>
  	
  	<resultMap type='Reporte' id='ReporteNeedResult'>
  		<result property='estado' column='n_state'/>
  		<result property='cantidad' column='cantidad'/>
  		<result property='cantidad2' column='not_use'/>
  		<result property='response_n_o;' column='not_use2'/>
	</resultMap>
	
	<resultMap type='Reporte' id='ReporteOfferResult'>
  		<result property='estado' column='o_state'/>
  		<result property='cantidad' column='cantidad'/>
  		<result property='cantidad2' column='not_use'/>
  		<result property='response_n_o;' column='not_use2'/>
	</resultMap>
	
	<resultMap type='Reporte' id='ReporteCategoriesResult'>
  		<result property='estado' column='categorias'/>
  		<result property='cantidad' column='n_ofrecidas'/>
  		<result property='cantidad2' column='n_necesidades'/>
  		<result property='response_n_o;' column='not_use'/>
	</resultMap>
	
	<resultMap type='Reporte' id='ReporteAnswersResult'>
  		<result property='estado' column='response'/>
  		<result property='cantidad' column='not_use'/>
  		<result property='cantidad2' column='not_use2'/>
  		<result property='responseNO' column='response_n_o'/>
	</resultMap>
  
</mapper>  