<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.samples.persistence.mybaties.mappers.UserMapper">

	<select parameterType="map" id="searchNameUserByMail" resultMap="UserResult">
		select
		u.name as u_name,
		from users u where u.mail = #{Email};
  	</select>

	<resultMap type='User' id='UserResult'>
		 <id property='userName' column='u_user_name'/>
		 <result property='name' column='u_name'/>
		 <result property='mail' column='u_mail'/>
		 <result property='passwd' column='u_passwd'/>
		 <result property='rol' column='u_rol'/>
	</resultMap>
  
</mapper>