	body {
	    margin: 0;
	    padding: 0;
	    color: #666;
	    background: #f2f2f2;
	    font-size: 1em;
	    line-height: 1.5em;
	    padding-top: 80px;
	    background-position: center center;
	    background-repeat: no-repeat;
	    background-attachment: fixed;
	    font-family: Helvetica, Georgia, 'Times New Roman', Times, serif;
	    font-weight: bolder;
	}
	
	h1 {
	    font-family: "Helvetica Rounded", Helvetica, Georgia, 'Times New Roman', Times, serif;
	    -webkit-text-stroke: 0.5px black;
	    color: #720c14;
	    text-align: center;
	    font-size: 250%;
	    counter-reset: heading;
	    text-shadow: 0 8px 9px #c4b59d, 0px -2px 1px #fff;
	}
	
	.container {
	    background-color: silver;
	    border-radius: 10px;
	    padding: 25px;
	    top: 50%;
	    left: 50%;
	    display: inline-block;
	    counter-reset: heading;
	    position: relative;
	    justify-content: center;
	    align-items: center;
	    transform: translateX(-50%);
	}
	
	#barra-administrador {
	    background: #720c14;
	    color: #720c14;
	    height: 80px;
	    width: 100%;
	    left: 0;
	    right: 20px;
	    top: 0;
	    position: fixed;
	}
	
	#admin-header {
	    display: block;
	    font-weight: 900;
	    font-size: 1.5em;
	    color: white;
	    display: block;
	    padding: 8px 14px;
	    font-family: Helvetica, Georgia, 'Times New Roman', Times, serif;
	}
	
	#cerrar_sesion {
	    margin: 0;
	    padding: 10px 50px 20px;
	    color: white;
	}
	
	.logo-nav-container {
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	}