body {
    background-color: #fff;
}

.banner {
    position: relative;
    width: 100%;
    height: 25vh;
    background-color: #F5F5F5;
    background-size: cover;
    background-position: center;
    transition: all .1s ease-in-out;
    background-image: url("home.jpg");
    
}

.banner-content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(138, 56, 90, 0.2);
}

.info {
    background-color: #fff;
    width: 50%;
    height: 50vh;
    padding-left: 50px;
    padding-top: 20px;
    position: static;
    float: left;
}

.info .parrafo {
    border: 1.5px solid #6e111c;
    background-color: #fff;
    color: #727070;
    width: auto;
    /*height: 350px;*/
    border-radius: 7px;
    position: center;
}

.info .parrafo label {
    color: #6e111c;
    position: absolute;
    top: calc(60vh+250px);
    left: 90px;
    font-family: Helvetica, Georgia, 'Times New Roman', Times, sans-serif;
    font-size: 140%;
}

.info p  {
    font-size: 115%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px;
    font-family: Helvetica, Georgia, 'Times New Roman', Times, sans-serif;
}

.botones {
    background-color: #fff;
    width: 2%;
    padding-left: 30px;
    padding-top: 3px;
    position: center;
}

.manual {
    font-size: 105%;
    background-color: #fff;
    font-family: Helvetica, Georgia, 'Times New Roman', Times, sans-serif;
    background-color: #fff;
    width:auto;
    padding-left: 70px;
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
} 



.container {
    display: inline;
    counter-reset: heading;
    position: absolute;
    resize:both;
}