    body {
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        font-family: Helvetica, Georgia, 'Times New Roman', Times, serif;
        background-color: #548186;
        /*background-image: url("https://landing.escuelaing.edu.co/wp-content/uploads/2017/04/maestrias_v2.jpg") ;*/
        background-image: url("fondo2.jpg");
        font-weight: bolder;
    }
    
    p {
        font-family: 'Geneva','Verdana', 'Times New Roman';
        color: #493e40;
    }

    h1 {
        font-family: 'Courier New', 'Times New Roman', Times, serif;
        -webkit-text-stroke: 0.6px rgb(232, 221, 240);
        color: #660707;
        text-align: center;
        font-size: 295%;
        counter-reset: heading;
        letter-spacing: 3px;
    }
    
    .container {
        background-color: silver;
        border-radius: 10px;
        padding: 25px;
        top: 50%;
        left: 50%;
        display: inline-flex;
        counter-reset: heading;
        position: absolute;
        justify-content: center;
        align-items: center;
        transform: translate(-50%, -50%);
    }