    body {
      font-family: Helvetica, Georgia, 'Times New Roman', Times, serif;
      background-color: #548186;
      background-image: url("https://landing.escuelaing.edu.co/wp-content/uploads/2017/04/maestrias_v2.jpg");
      font-weight: bolder;
    }
    h1 {
        font-family: Helvetica, Georgia, 'Times New Roman', Times, serif ;
        -webkit-text-stroke: 1px black;
        color: white;
        text-align: center;
        font-size: 250%
    }
    .container{
      background-color: silver;
      border-radius: 10px;
      padding: 25px;
      margin-top: 125px;
      margin-left: 100px;
    }



    
