    body {
      font-family: Helvetica, Georgia, 'Times New Roman', Times, serif;
      background-color: #548186;
      background-image: url("https://landing.escuelaing.edu.co/wp-content/uploads/2017/04/maestrias_v2.jpg");
      font-weight: bolder;
    }
    h1 {
        font-family: Helvetica, Georgia, 'Times New Roman', Times, serif ;
        -webkit-text-stroke: 0.5px black;
        color:#720C14;
        text-align: center;
        font-size: 250%;
        counter-reset: heading;
    }
    .container{
      background-color: silver;
      border-radius: 10px;
      padding: 25px;
      top:25%;
      left: 30%;
      display: inline-flex;
      counter-reset: heading;
      position: absolute;
      justify-content: center;
      align-items: center;
    }
  



    
